.counter{
    position: relative;
    top: 30%;
    left: 30%;
    color: white;
    font-size: 50px;

}
.container{
    background-color:black;
    border: thick double #32a1ce;
    display: flex;
    top: 0%;
    left: 50%;
    margin: auto;
    height: 500px;
    width: 500px;
}
.div1{
    background-color: aqua;
   
}
#v{
    position: relative;
    top: 50%;
    left: 10%;
    color: white;
    font-size: 30px;
}
#increase{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    border: thick double #32a1ce;
    top: 70%;
    right:55%;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    
}
#increase:hover{
    background-color: black;
    color: white;
}
#decrease{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    top: 70%;
    border: thick double #32a1ce;
    right:1%;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}
#decrease:hover{
    background-color: black;
    color: white;
}
#reset{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    top: 70%;
    border: thick double #32a1ce;
    left:5%;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}
#reset:hover{
    background-color: black;
    color: white;
}